# Built-in Gradle files
.gradle/
build/

# IDE files
.idea/
*.iml
*.ipr
*.iws

# Android Studio / IntelliJ specific
/local.properties
/captures/
.externalNativeBuild/
.cxx/
*.hprof

# OS specific
.DS_Store
Thumbs.db

# Kotlin
.kotlin/

# User-specific
.navigation/
